.hero
  display: flex
  align-items: center
  min-height: calc(100vh - 78px)
  height: 100%
  padding: 64px 0
  background-color: #D9D9D9
  @media (max-width: $width-mobile)
    min-height: calc(100vh - 64px)
    align-items: flex-start
    padding: 92px 0 0

  &__container
    width: 100%

  &__title
    @include fontSize(24, 64)
    margin-bottom: 16px
    font-weight: 700
  &__text
    margin-bottom: 64px
    @include fontSize(16, 20)
    max-width: 50%
    @media (max-width: $width-tablet)
      max-width: 80%
    @media (max-width: $width-mobile)
      margin-bottom: 200px
      max-width: initial

  &__button
    @media (max-width: $width-mobile)
      width: 100%