section.hero
    .hero__container.container
        h1.hero__title Монтажные работы
        p.hero__text Эффективные, надежные и профессиональные решения по установке для вашего дома или бизнеса
        button.hero__button.button.button--accent.popup-open Заказать