section.services.scroll-margin#services
    .services__container.container
        h2.title-section Услуги

        ul.services__list
            li.services__item.services-item
                include ../../img/services/01.svg
                h3.services-item__title Техническое обслуживание слаботочных систем
            li.services__item.services-item
                include ../../img/services/02.svg
                h3.services-item__title Установка систем видеонаблюдения
            li.services__item.services-item
                include ../../img/services/03.svg
                h3.services-item__title Установка систем пожарной безопасности
            li.services__item.services-item
                include ../../img/services/04.svg
                h3.services-item__title Строительно-монтажные работы