extends ../layouts/main

block variables
    - var title = "ООО Система | Монтажные работы"

block content
    include ../blocks/hero/hero
    include ../blocks/services/services
    include ../blocks/estimate/estimate
    include ../blocks/advantages/advantages
    include ../blocks/feedback/feedback
