section.estimate.scroll-margin#estimate
    .estimate__container.container
        h2.title-section Смета

        ul.estimate__list

            li.estimate__item
                span.estimate__name Установка внутренней видеокамеры
                span.estimate__price от 1100 ₽

            li.estimate__item
                span.estimate__name Установка уличной видеокамеры
                span.estimate__price от 1900 ₽

            li.estimate__item
                span.estimate__name Установка датчика пожарного
                span.estimate__price от 450 ₽

            li.estimate__item
                span.estimate__name Установка резервного источника питания
                span.estimate__price от 900 ₽

            li.estimate__item
                span.estimate__name Установка точки контроля доступа
                span.estimate__price от 3000 ₽

            li.estimate__item
                span.estimate__name Прокладка кабеля слаботочного
                span.estimate__price от 45 ₽/метр

            li.estimate__item
                span.estimate__name Прокладка кабеля силового
                span.estimate__price от 65 ₽/метр

            li.estimate__item
                span.estimate__name Установка розетки электрической
                span.estimate__price от 250 ₽

            li.estimate__item
                span.estimate__name Установка интернет-розетки
                span.estimate__price от 300 ₽

            li.estimate__item
                span.estimate__name Установка датчика охраны
                span.estimate__price от 450 ₽