section.estimate
    .estimate__container.container
        h2.title-section Смета

        ul.estimate__list

            li.estimate__item
                span.estimate__name Установка внутренней камеры
                span.estimate__price от 1000 ₽

            li.estimate__item
                span.estimate__name Установка уличной камеры
                span.estimate__price от 1600 ₽

            li.estimate__item
                span.estimate__name Установка и подключение видеорегистратора
                span.estimate__price от 1800 ₽

            li.estimate__item
                span.estimate__name Настройка системы видеонаблюдения
                span.estimate__price от 2000 ₽

            li.estimate__item
                span.estimate__name Монтаж кабеля
                span.estimate__price 20 ₽/метр