section.advantages
    .advantages__container.container
        h2.title-section Преимущества

        ul.advantages__list
            li.advantages__item.advantages-item
                include ../../img/advantages/01.svg
                h3.advantages-item__title Собственный поставщик
                p.advantages-item__desc Подберем качественные материалы без переплат

            li.advantages__item.advantages-item
                include ../../img/advantages/02.svg
                h3.advantages-item__title Опытные рабочие
                p.advantages-item__desc Наши сотрудники имеют высокую квалификацию и опыт от 3х лет

            li.advantages__item.advantages-item
                include ../../img/advantages/03.svg
                h3.advantages-item__title Гарантия
                p.advantages-item__desc Гарантия на все наши работы 1 год